.bunionCont {
  width: 100%;
  height: 400px;
  display: flex;
}

.image {
  width: 50%;
  height: 100%;
  position: relative;
}

.bunionInfo {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #063b5e;
  background-color: #e1e7f2;
  margin: 0;
  flex-direction: column;
}

.text {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

@media screen and (max-width: 700px) {
  .bunionCont {
    flex-direction: column;
    height: 600px;
  }
  .image {
    width: 100%;
  }
  .bunionInfo {
    width: 100%;
    padding: 30px 0;
  }
  .bulletCont {
    width: 100%;
  }
}
