.bannerCont {
  position: relative;
  width: 100%;
}

.bannerText {
  z-index: 1;
  position: absolute;
  /* left: 17%;
  top: 30%; */
  top: 35%;
  text-align: center;
  color: #4f5f78;
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image {
  width: 100%;
  height: 90vh;
}

.bannerQuote {
  color: #2a4b85;
}

@media screen and (max-width: 700px) {
  .bannerCont {
    height: 425px;
  }
  .bannerText {
    width: 100%;
    top: 18%;
    padding: 0 40px;
  }
}

@media screen and (min-width: 701px) and (max-width: 1200px) {
  .bannercont {
    height: 425px;
  }

  .image {
    height: 50vh;
  }
  .bannerText {
    top: 20%;
  }
}

@media screen and (min-width: 2000px) {
  .image {
    height: 80vh;
  }

  /* .bannerText {
    font-size: 40px;
  } */
}
