.bannerCont {
  position: relative;
  width: 100%;
  height: 600px;
}

.bannerText {
  z-index: 1;
  position: absolute;
  top: 10%;
  text-align: center;
  color: #4f5f78;
  display: flex;
  width: 50%;
  padding: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image {
  width: 100%;
  height: 100vh;
  position: relative;
}

.bannerQuote {
  color: #2a4b85;
}

@media screen and (max-width: 750px) {
  .bannerCont {
    height: 675px;
    background-color: #e1e7f2;
  }

  .bannerText {
    width: 100%;
    top: 8%;
    padding: 0 40px;
  }

  .image {
    display: none;
  }
}

@media screen and (min-width: 801px) and (max-width: 1200px) {
  .bannercont {
    height: 500px;
  }

  .image {
    height: 55vh;
  }

  .bannerText {
    top: 0%;
  }
}


@media screen and (min-width: 751px) and (max-width: 800px) {
  .bannercont {
    height: 500px;
  }

  .image {
    height: 90vh;
  }

  .bannerText {
    top: 0%;
  }
}


@media screen and (min-width: 1201px) and (max-width: 1399px) {
  .bannercont {
    height: 450px;
  }

  .image {
    height: 60vh;
  }

  .bannerText {
    top: 0%;
  }
}

@media screen and (min-width: 1400px) {
  .image {
    height: 90vh;
  }

  .bannercont {
    height: 800px;

  }
}

@media screen and (min-width: 1400px) and (min-height: 1100px) {
  .image {
    height: 70vh;
  }

  .bannercont {
    height: 800px;

  }
}

@media screen and (min-width: 1800px) {
  .image {
    display: none;
  }

  .bannerCont {
    display: flex;
    justify-content: center;
  }

  .bannerText {
    width: 60%;

  }
}