.mainContainer {
  display: flex;
  height: 650px;
  width: 100%;
  padding-top: 40px;
  background-color: #e1e7f2;
  color: #2a4b85;
}

.secContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
  text-align: center;
  align-items: center;
}

.text {
  width: 80%;
}

.telImage {
  height: 100%;
  width: 80%;
  display: flex;
}

.textCont {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}

@media screen and (max-width: 700px) {
  .mainContainer {
    padding-top: 30px;
  }
  .header {
    padding-bottom: 20px;
  }
  .secContainer {
    display: none;
  }
  .textCont {
    width: 100%;
    align-items: center;
  }
}

@media screen and (min-width: 700px) and (max-width: 1200px) {
  .secContainer {
    display: none;
  }
  .textCont {
    width: 100%;
    align-items: center;
  }
}
