.pricingOuter {
  color: #2a4b85;
  min-height: 400px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.title {
  width: 100%;
  text-align: center;
}

.infoCont {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding: 20px;
  align-items: cemter;
}

.info {
  display: flex;
  width: 45%;
  text-align: center;
  justify-content: center;
  margin: 20px 20px 20px 70px;
  display: flex;
  flex-wrap: wrap;
}

.pricing {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.price {
  width: 40%;
  text-align: center;
  background-color: #e1e7f2;
  padding: 10px 0;
  margin-bottom: 20px;
}

.feeDescription {
  font-weight: bold;
}

.price p {
  font-size: 18px;
}

@media screen and (max-width: 700px) {
  .pricingOuter {
    padding-top: 0;
    padding: 0 10px;
  }
  .infoCont {
    flex-wrap: wrap;
  }

  .info {
    width: 100%;
    margin: 0;
  }

  .pricing {
    width: 100%;
    min-height: 500px;
  }

  .price {
    width: 80%;
    margin: 5px;
  }
}

@media screen and (min-width: 700px) and (max-width: 1200px) {
  .infoCont {
    flex-wrap: wrap;
  }

  .info {
    width: 100%;
    margin: 0;
  }

  .pricing {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
  }

  .price {
    width: 40%;
    margin: 5px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 2000px) {
  .price p {
    font-size: 40px;
  }
}
