.container {
  min-height: 375px;
  display: flex;
  background-color: #e1e7f2;
  color: #063b5e;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 30px 30px;
}
