.card {
  background-color: transparent;
  perspective: 1000px;
  cursor: pointer;
  height: 300px;
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  z-index: 2;
}

.cardInner {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border-radius: 20px;
  cursor: pointer;
}

.rotate {
  transform: rotateY(180deg);
}

.cardFront {
  position: absolute;
  width: 60%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 20px;
  border: solid 3px #063b5e;
}

.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 20px;
  border: solid 3px #063b5e;
}

.cardBack {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  border: solid 3px #063b5e;
  color: #063b5e;
  border-radius: 20px;
  padding: 20px 60px;
  white-space: pre-line;
}

.cardFront {
  transform: rotateY(180deg);
  background-color: white;
  color: #063b5e;
}

.cardFront:hover {
  background-color: #e1e7f2;
  border-radius: 20px;
}

@media screen and (min-width: 701px and max-width: 1200px) {
  .card {
    width: 40%;
    margin: 0;
    height: 40%;
  }
  .cardFront {
    width: 100%;
    height: 100%;
  }
  .cardBack {
    padding: 0 5px;
  }
}

@media screen and (max-width: 1200px) {
  .card {
    width: 80%;
    margin: 0;
    height: 20%;
  }
  .cardFront {
    width: 100%;
    height: 100%;
  }
  .cardBack {
    padding: 0 5px;
  }
}
