.form {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.box {
  border-radius: 5px;
  margin: 5px 0;
  min-height: 6%;
  outline: rgba(230, 231, 232, 0.8);
  resize: none;
  border-style: none;
  transition-duration: 0.5s;
}

.box:hover {
  background-color: rgba(230, 231, 232, 0.8);
}

.question {
  font-style: italic;
}

.message {
  height: 20px;
  font-style: italic;
}

@media screen and (max-width: 700px) {
  .form {
    width: 80%;
  }
}
