.form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 10px 0;
}

.boxContainer {
  display: flex;
  flex-direction: column;
}

.boxContainer input {
  padding: 10px 0;
}

.privacyContainer {
  display: flex;
  flex-direction: row;
  padding: 20px 0;
}

.privacy {
  padding-left: 4px;
}

.box {
  border-radius: 5px;
  margin: 5px 0;
  min-height: 6%;
  outline: rgba(230, 231, 232, 0.8);
  resize: none;
  border-style: none;
  transition-duration: 0.5s;
}

.box:hover {
  background-color: rgba(230, 231, 232, 0.8);
}

.question {
  font-style: italic;
}

.message {
  height: 20px;
  font-style: italic;
}

.sending {
  text-align: center;
}

@media screen and (max-width: 700px) {
  .form {
    width: 80%;
  }

  .sending {
    padding: 0 30px;
  }
}

@media screen and (min-width: 2000px) {
  .form {
  }
}
