.navList {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.navItem {
  color: #4f5f78;
  font-weight: 500;
  font-size: 1.1em;
}

.navWrap {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .navWrap {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .responsive {
    display: flex;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
  }
  .navList {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  .navItem {
    padding: 10px;
    border: solid white 1px;
    background-color: #063b5e;
    color: white;
  }
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
